<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <div class="logo">
      <img src="<%-settings.CONFIG.STATIC_URL %> ../assets/img/lend-me-logo.png" class="d-inline-block align-top" alt="">
    </div>
  </a>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Pedir espacios en tu Universidad, nunca fue tan fácil</h1>
    <p class="lead">Con LendMe Puedes pedir espacios desde tu casa, de forma rápida, segura y confiable.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="<%- settings.CONFIG.URL %>/signin" role="button">Comenzar</a>
    </p>
  </div>
</div>
<div class="container" >
  <div class="row">
    <div class="col col-sm-12">
      <h1 class = "center">Acerca de nosotros</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6">
      <h3 class = "center">Historia</h3>
      <p>Somos estudiantes de la <a href="www.usach.cl">Universidad de Santiago de Chile, estudiamos Licenciatura en Ciencia de la Computación... </a> </p>
    </div>
    <div class="col col-sm-6">
      <h3 class = "center">Motivación</h3>
      <p>Como estudiantes entendemos que la comunidad universitaria no es algo que nace de forma espontánea. La institución muchas veces no presta atención a los detalles sobre como mejorar la calidad de vida del Universitario. <br> Nosotros como estudiantes y respondiendo a un problema recurrente y transversal desarrollamos LendMe.</p>
    </div>
  </div>
  <div class="row">
    <div class = "col col-sm-12 center">
      <h1 class ="center">Nuestro Equipo</h1>
    </div>
  </div>
  <div class="row">
    <div class = "col col-sm-3">
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="<%-settings.CONFIG.STATIC_URL %>/assets/img/mauro.jpg" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Mauricio Del Río</p>
          <p class="card-text">Arquitecto - Desarrollador</p>
        </div>
      </div>
    </div>
    <div class = "col col-sm-3"> 
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="<%-settings.CONFIG.STATIC_URL %>/assets/img/katty.png" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Katherine Muñoz</p>
          <p class="card-text">Arquitecta - Desarrolladora</p>
        </div>
      </div>
    </div>
    <div class = "col col-sm-3"> 
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="<%-settings.CONFIG.STATIC_URL %>/assets/img/ricardo.png" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Ricardo Aedo</p>
          <p class="card-text">Arquitecto - Desarrollador</p>
        </div>
      </div>
    </div>
    <div class = "col col-sm-3">  
      <div class="card">
        <div class = "container">
          <img class = "img-circle" src="<%-settings.CONFIG.STATIC_URL %>/assets/img/bryan.jpeg" alt="">
        </div>
        <div class="card-body center">
          <p class="card-text">Bryan Nuñez</p>
          <p class="card-text">Arquitecto - Desarrollador</p>
        </div>
      </div>       
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 center">
      <h1>Confiaron en nosotros</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6 center">
      <img src="http://www.jmc.utfsm.cl/contenidos/jmc_sede/sede_archivos/sede_imagen_corporativa/archivos/marca_1.jpg" alt="">
    </div>
    <div class="col col-sm-6 center">
      <img src="http://www.mbaweekend.cl/img/logo_usach.jpg" alt="">
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>